@charset "utf-8";


body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: rgb(212, 248, 255);
	margin-top: 25px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
    font-size: 1cm;
    background: #0028A8;
	border-style: solid;
    padding-left: 2cm;
    padding-right: 2cm;
}

.iconos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconos img {
    margin: 10px
}

.imagen_galeria {
    filter: grayscale();
    border-radius: 10px;
}

.imagen_galeria:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: 0.2s ease-in;
}

.inicio {
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: space-around;
    margin: 1cm;
}

#imagen_inicio {
    margin-left: 2%;
    border-radius: 1cm;
}

.contenedor {
    display: flex;
    flex-direction: row;
    border: 5px solid #000000;
    border-radius: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;
}

.contenedor img {
    transition: transform 0.2s ease-out;
}

.final_page {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
	background: #0028A8;
	border-style: solid;
    padding-left: 2cm;
    padding-right: 2cm;
}

ul {
    list-style-type: none;
}

  
#imagen_contenedor {
    border-radius: 1cm;
}

.autor {
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

